* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid; */
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}


/* ----------------------------------HEADER---------------------------------- */

.header {
    display: flex;
    flex-direction: column;
}
.headImg {
    background-repeat: no-repeat;
    background-image: url("./Img/0_Principal.png");
    background-size: cover;
    background-position: bottom;
    height: 400px;
    display: block;
}

.logo {
    margin: auto 0;
    padding-left: 40px;
}

.hdblack {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_cursos {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.nav_cursos a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white;
    margin: 0 15px;
}

.nav_cursos a:hover {
    color: yellow;
}


.headTxt {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;

}

.tit_descrip{
    font-weight: bold;
    font-size: 3rem;
    margin: 20px;
}

.descrip {
    font-size: 1.4rem;
    text-align: left;
    padding: 40px;
}

/* -----------------------------------------------------------SECCIONES----------------------------------------------------------- */


.imgn {
    height: 400px;
}

.pyImg {
    background-image: url("./Img/1_Py.png");
    background-size: cover;
}

.jsImg {
    background-image: url("./Img/2_js.png");
    background-size: cover;
}

.javaImg {
    background-image: url("./Img/3_java.png");
    background-size: cover;
}

.phpImg {
    background-image: url("./Img/4_php.png");
    background-size: cover;
}

.otrosImg {
    background-image: url("./Img/5_Otros.jpg");
    background-size: cover;
    background-position: 0 -250px;
    background-repeat: no-repeat;
}

.cursos {
    background-color: rgb(239, 247, 255);
    margin: 20px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 5px;
}

.cursosTxt {
    padding:40px;
}

.cursosSubtl {
    margin-bottom: 60px;
    font-size: 2.3rem;
    padding-right: 40%;

}

.cursosDescrip {
    font-size: 1.3rem;
    text-align: left;

}

.curricula {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.unidad {
    display: grid;
    grid-template-columns: 30% 70%;
}

.unidadLogo {
    width: 80%;
    margin: 8px;
}

.unidadTxt {
    margin: 8px;  
    padding-left: 10px; 
}

.unidadTxt h3 {

    margin-bottom: 20px;
}

.unidadTxt p {

    margin-right: 20px;
}

.otros {
    background-color: rgb(239, 247, 255);   
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otrosSubtl {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 40px 0;
}

.otrosCards {

    padding: 20px 10PX;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.cards {
    border-radius: 5px;
    margin: 0 15px;

}

.cardCab {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 20px;
    text-align: center;
}
.card_desc {

    padding: 15px;
}

.cardLogo {
    margin-top: 20px;
    width: 35%;
}

.cardTit {
    margin-top: 20px;
    width: 100%;
    color: white;
}

.otroc_c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* --------------------------------------------------FOOTER-------------------------------------------------- */

.footer {
    background-color: rgb(39, 39, 39);
    border-top: 2px solid #f08100;
    height: 300px;
}

.footer h3 {
    padding-top: 50px;    
    padding-left: 20px;
    color: white;

}

.footer hr{
    margin: 0px 1%;
    width: 98%;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 20px 20px;
}



.redes a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

.redes a:hover {
    color: yellow;
}

.contacto {
    margin: 50px 100px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}







/* --------------------------------------------------------------GENERAL-------------------------------------------------------------- */

.bord_blue{ 

    border: 1px solid #219ecf;
}

.bord_green {
    border: 1px solid#00a79f;
}

.bord_red {
    border: 1px solid#ef7a70;
}

.bord_yellow {
    border: 1px solid #f08100;
}


.blue{ 

    color: #219ecf;
}

.green {
    color:#00a79f;
}

.red {
    color:#ef7a70;
}

.yellow {
    color: #f08100;
}

.bgblue{ 

    background-color: #00a79f;
}

.bggreen {
    background-color:#00a79f;
}

.bgred {
    background-color:#ef7a70;
}

.bgyellow {
    background-color: #f08100;
}


/* ---------------------------------------------- RESPONSIVE 425PX --------------------------------------- */

@media (max-width: 425px){
    * {
        /* border: 1px solid; */
    }

    .hdblack {
        background-color: rgba(0, 0, 0, 0.5);
        flex-direction: column;
    }

    .nav_cursos {
        margin-top: 5px;
        flex-direction: column;
        width: 100%;

    }

    .nav_cursos a {
        padding: 5px;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .nav_cursos a:hover {
        background-color: black;
    }

    .logo {
        padding-left: 0px;
    }

    .headTxt {
        width: 80%;
    
    }

    .descrip {
        font-size: 1.5rem;
        text-align: center;
        padding: 10px 0;
    }

/* -----------------------------------------------------------SECCIONES----------------------------------------------------------- */

    .imgn {
        height: 250px;
    }

    .cursos {
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
    }

    .cursosTxt {
        padding: 20px;
    }

    .cursosSubtl {
        text-align: center;
        padding: 0 0;
        margin-bottom: 20px;
        font-size: 2.5rem;

    }

    .cursosDescrip {
        font-size: 1.5rem;

    }

    .curricula {
        display: flex;
        flex-direction: column;
    }

    .unidad {
        grid-template-columns: 20% 80%;
    }

    .otrosImg {

        background-position: 0 0;
    }

    .otros {
    margin: 20px;
    }

    .otrosSubtl {
        font-weight: bold;
        font-size: 2.5rem;
        margin: 20px 0;
    }

    .otrosCards {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 0;
    }

    .cards {
        margin: 15px 0  ;
    }

    .cardCab h3 {
        font-size: 1.5rem;
    }

    .card_desc p {
        font-size: 1.2rem;
    }

    .footer{
        height: 450px;
    }

    .redes {
        flex-direction: column;
    }

    .redes a{
        margin: 10px 20px;
    }

    .contacto {
        justify-content: center;

    }

    .contacto img {
        padding: 0 20px;
    }
}

/* ---------------------------------------------- RESPONSIVE 768PX --------------------------------------- */

@media (max-width: 768px){
    * {
        /* border: 1px solid; */
    }

    .hdblack {
        background-color: rgba(0, 0, 0, 0.5);
        flex-direction: column;
    }

    .nav_cursos {
        margin-top: 5px;
        flex-direction: column;
        width: 100%;

    }

    .nav_cursos a {
        padding: 5px;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .nav_cursos a:hover {
        background-color: black;
    }

    .logo {
        padding-left: 0px;
    }

    .headTxt {
        width: 80%;
    
    }

    .descrip {
        font-size: 1.5rem;
        text-align: left;
        padding: 20px;
    }
/* ----------------------------------------------------SECCIONES 768------------------------------------------------- */

    .cursos {
        display: flex;
        flex-direction: column;
        margin: 10px 60px;
    }

    .cursosTxt {
        padding: 20px;
    }

    .cursosSubtl {
        text-align: center;
        padding: 0 0;
        margin-bottom: 20px;
        font-size: 2.5rem;

    }

    .cursosDescrip {
        font-size: 1.5rem;

    }

    .curricula {
        display: flex;
        flex-direction: column;
    }

    .unidad {
        grid-template-columns: 20% 80%;
    }

    .otrosImg {

        background-position: 0 0;
    }

    .otros {
    margin: 60px;
    }

    .otrosSubtl {
        font-weight: bold;
        font-size: 2.5rem;
        margin: 20px 0;
    }

    .otrosCards {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 0;
    }

    .cards {
        margin: 15px 0  ;
    }

    .cardCab h3 {
        font-size: 1.5rem;
    }

    .card_desc p {
        font-size: 1.2rem;
    }

    /* ----------------------------------------------FOOTER 768---------------------------------------- */

    .redes {
        width: 100%;
        margin: 20px auto;
    }

    .contacto {
        width: 50%;
        margin: 40px auto;
    }
}